<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DT102G_moment1</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
@{
    var site = @ViewData["Title"];
}
<body onload="setActiveClass('@site')">
    <!--header-->
    <header>
        <a asp-page="/Index"><img id="logotype" src="~/images/logotyp.png" alt="Logotyp som föreställer en grön rektangel med texten Sandras Labb 1 i." /></a>
        <!--date function-->
        @{
            var dateTime = DateTime.Now;
            string date = DateTime.Now.ToString("dd MMMM yyyy");
        }
        <div id="header-right">
            <p>Dagens datum är: @date</p>
        </div>
    </header>
    <!--main section-->
    <main role="main" class="container">
        <aside class="aside">
            <nav class="nav">
                <ul>
                    <li class="nav-item">
                        <a id="start" class="nav-link" asp-area="" asp-page="/Index">Start</a>
                    </li>
                    <li class="nav-item">
                        <a id="razor" class="nav-link" asp-area="" asp-page="/Razor">Razor</a>
                    </li>
                    <li class="nav-item">
                        <a id="about" class="nav-link" asp-area="" asp-page="/About">Om sidan</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <section class="section">
            @RenderBody()
        </section>
    </main>

    <footer class="footer">
        <div class="footer-info">
            <p>Av Sandra Andersson - Kontakta mig via e-post: <a href="mailto:saan1906@student.miun.se">saan1906@student.miun.se</a></p>
        </div>
    </footer>
    <!--JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
